<!DOCTYPE html>
<html>
    <head>
	<link rel="stylesheet" href="../styles/codemirror/codemirror.css">
	<link rel="stylesheet" href="../styles/codemirror/solarized.css">
	<link rel="stylesheet" href="../styles/codemirror/lint.css">
	<link href="../styles/spotcheck.css" type="text/css" rel="stylesheet">
	<link href="../styles/configure.css" type="text/css" rel="stylesheet">
    </head>
    <body>
	<div class="modal" id="modal">
	    <div class="modal-content" id="modal-content">
		<span class="close">&times;</span>
		<h2 id="name-text">metric name:</h2>
		<input type="text" id="script-name-field">
		<form id="editor" class="CodeMirror"><textarea id="code" name="code"></textarea></form>
		<input type="button" id="script-save-btn" value="save" onclick="onSavePressed()">
	    </div>
	</div>
	<header>
	    <input type="button" id="create-btn" value="create metric" onclick="onCreatePressed()">
	    <input type="button" id="remove-btn" value="remove metric" onclick="onRemovePressed()">
	    <input type="button" id="edit-btn" value="edit metric" onclick="onEditPressed()">
        <span class="formatted-text">Pixel Width:</span>
        <input type="text" id="pixel-width" maxlength="3" size="3" />
        <span class="formatted-text">Pixel Depth:</span>
        <input type="text" id="pixel-depth" maxlength="3" size="3" />
	</header>
	<main>
	    <table id="table">
	    </table>
	</main>
	<button id="modal-btn"></button>
	<footer>
	    <input type="button" id="done-btn" value="done" onclick="onDonePressed()">
	    <script type="text/javascript" src="../scripts/codemirror/codemirror.js"></script>
	    <script type="text/javascript" src="../scripts/codemirror/javascript.js"></script>
	    <script type="text/javascript" src="../scripts/codemirror/addons/jshint.js"></script>
	    <script type="text/javascript" src="../scripts/codemirror/addons/lint.js"></script>
	    <script type="text/javascript" src="../scripts/codemirror/addons/javascript-lint.js"></script>
	    <script type="text/javascript" src="../scripts/jquery-3.1.1.min.js"></script>
	    <script type="text/javascript" src="../scripts/configure.js"></script>
	</footer>
    </body>
</html>
