<!DOCTYPE html>
<html>
  <head>
	<link href="../styles/Index_css_test.css" type="text/css" rel="stylesheet">
	<link href="/fonts/ADAM" type="text/css" rel="stylesheet">
	<link href="../styles/dropzone.css" type="text/css" rel="stylesheet">
    <title>
      SpotCheck
    </title>
  </head>
  <body>


    <div class="Import">
      <h1>Import Your Files Here</h1>

	

	<div class="drop">
    <script src="../scripts/dropzone.js"></script>
    <form action="/test/tmp.jpg" class="dropzone"></form>



	</div>

	<p>Import .tif image and .gal metadeta files here.</p>
	
	


	<div class="button">
	<button onclick="location.href='analyze.htm';">Analyze</button>

	</div>




    </div>
  </body>
</html>