<!DOCTYPE html>
<html>
    <head>
	<link href="../styles/spotcheck.css" type="text/css" rel="stylesheet">
	<link href="../styles/index.css" type="text/css" rel="stylesheet">
    </head>
    <body>
	<main>
	    <div class="toolbar">
		<div class="toolbar-frame non-selectable">
		    <div id="gal-frame">import gal</div>
		</div>
		<div class="toolbar-frame non-selectable">
		    <div id="tiff-frame">import tiff</div>
		</div>
	    </div>
	</main>
	<footer>
	    <input type="button" id="index-next" onclick="onNextPressed()" value="next"></input>
	    <script src="../scripts/index.js"></script>
	</footer>
    </body>
</html>
