<!DOCTYPE html>
<html>
  <head>
    <style>
      #tiff-frame { border: 10px dashed #ccc; width: 300px; height: 300px; margin: 20px auto;}
      #tiff-frame.hover { border: 10px dashed #333; }
      #gal-frame { border: 10px dashed #ccc; width: 300px; height: 300px; margin: 20px auto;}
      #gal-frame.hover { border: 10px dashed #333; }
    </style>
    <script src="../scripts/drag_n_drop.js"></script>
  </head>
  <body>
    <div id="tiff-frame"></div>
    <div id="gal-frame"></div>
    <script type="text/javascript">
      function onNextPressed() {
          global.backend.set_threshold(() => {
                window.location.href = "frontend/layouts/threshold.html";
          }, 127, global.threshRenderCircles);
      }
    </script>
    <button onclick="onNextPressed()">Next</button>
  </body>
</html>
