<!DOCTYPE html>
<html>
    <head>
	<link href="../styles/spotcheck.css" type="text/css" rel="stylesheet">
	<link href="../styles/index.css" type="text/css" rel="stylesheet">
    </head>
    <body>
	<main>
	    <div class="toolbar">
		<div class="toolbar-frame non-selectable">
		    <div id="tiff-frame" class="drop-box">
			<span class="frame-span"></span>
			<div class="frame-content">
			    <input type="file" id="choose-tiff" class="inputfile"></input>
			    <label for="choose-tiff">Choose tiff file</label>
			    or drop it here
			</div>
		    </div>
		</div>
		<div class="toolbar-frame non-selectable">
		    <div id="gal-frame" class="drop-box">
			<span class="frame-span"></span>
			<div class="frame-content">
			    <input type="file" id="choose-gal" class="inputfile"></input>
			    <label for="choose-gal">Choose gal file</label>
			    or drop it here
			</div>
		    </div>
		</div>
	    </div>
	</main>
	<footer>
	    <input type="button" id="index-next" onclick="onNextPressed()" value="next"></input>
	    <script type="text/javascript" src="../scripts/jquery-3.1.1.min.js"></script>
	    <script src="../scripts/index.js"></script>
	</footer>
    </body>
</html>
