<!DOCTYPE html>
<html>
    <head>
	<link href="../styles/spotcheck.css" type="text/css" rel="stylesheet">
	<link href="../styles/roi.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="../scripts/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../scripts/roi.js"></script>
    </head>
    <body>
	<header>
	    <div class="toolbar">
		<div class="toolbar-frame non-selectable" id="toolbar-lhs">
		    ROI rows:
		    <input type="text" id="roi-rows-tb" maxlength="3" size="3">
		    ROI columns:
		    <input type="text" id="roi-cols-tb" maxlength="3" size="3">
		    First column id:
		    <input type="text" id="first-col-id-tb" maxlength="3" size="3">
		    First row id:
		    <input type="text" id="first-row-id-tb" maxlength="3" size="3">
		</div>
		<div class="toolbar-frame" id="toolbar-rhs">
		    <input type="button" id="help-button" value="Help" onclick="onHelpPressed()">
		</div>
	    </div>
	</header>
	<main>
	    <div id="roi-preview">
		<canvas id="roi-canvas"></canvas>
	    </div>
	    <canvas id="roi-canvas-mask" style="display:none"></canvas>
	    <img src="../temp/tmp.png" style="display:none" id="roi-img">
	</main>
	<footer>
	    <div>
		<input type="button" id="back" value="Back" onclick="onBackPressed()">
		<input type="button" id="next" value="Next" onclick="onNextPressed()">
	    </div>
	</footer>
    </body>
</html>
