@font-face {
    font-family: "open-sans-reg";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "open-sans-bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

html, body {
    height: 100%;
    background: rgb(255, 255, 255);
    margin: 0;
    min-height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex: auto;
}

header, footer, main {
    position: relative;
}

header, footer {
    flex: none;
}

table {
    user-select: none;
}

thead {
    font-family: "open-sans-bold";
    font-size: 14.5px;
    background: #7fb4b8;
    color: white;
    cursor: pointer;
}

.selected-thead {
    background: #6E9DA0;
}

.hidden {
    display: none;
}

.noflex {
    flex: none;
}

td {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tbody {
    cursor: default;
    font-family: "open-sans-reg";
    font-size: 14.5px;
    color: #45484B;
}

#proxy-thead {
    width: 100%;
    border-collapse: collapse;
    z-index: 999;
    overflow: hidden;
    table-layout: fixed;
    flex: none;
}

#results-table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
}

footer {
    padding-top: 9px;
    text-align: center;
}

#saveas {
    display: none;
}

tr:nth-child(even){background-color: #f2f2f2}
