@import url("appwindow.css");

@font-face {
    font-family: "open-sans-reg";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "open-sans-bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

thead {
    font-family: "open-sans-bold";
    font-size: 14.5px;
    background: #7fb4b8;
    color: white;
    cursor: pointer;
}

.hidden {
    display: none;
}

.noflex {
    flex: none;
}

td {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

tbody {
    font-family: "open-sans-reg";
    font-size: 14.5px;
    color: #45484B;
}

#proxy-thead {
    width: 100%;
    margin-top: 51px;
    border-collapse: collapse;
    z-index: 999;
    overflow: hidden;
    table-layout: fixed;
}

#results-table {
    border-collapse: collapse;
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
}

main {
    margin-top: 39px;
}

footer {
    padding-top: 9px;
    text-align: center;
}

#saveas {
    display: none;
}

tr:nth-child(even){background-color: #f2f2f2}
