@font-face {
    font-family: "museo-slab";
    src: url("../fonts/MuseoSlab-500.otf");
}

input[type=text] {
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    padding: 4px 20px;
    margin: 4px;
    border-color: rgb(224, 229, 230);
    color: rgb(99, 152, 156);
    font-family: "museo-slab";
    font-size: 14px;
}

input[type=button] {
    cursor: pointer;
    border: 3px solid #7fb4b8;
    border-radius: 2px;
    padding: 4px 20px;
    margin: 4px;
    background: #63989c;
    font-family: "museo-slab";
    color: rgb(255, 255, 255);
    font-size: 14px;
    transition: all 0.1s linear;
}

input[type=button]:active {
    // border-color: #6c989d;
    // background: #548185;
    transform: scale(0.95);
}

input[type=button]:focus {
    outline: 0;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    background: #63989C;
    border-radius: 5px;
    border: 1px solid #63989C;
}

input[type=range]::-webkit-slider-thumb {
    border: 3px solid #8EBDC0;
    height: 18px;
    width: 18px;
    border-radius: 18px;
    background: #63989C;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all 0.2s ease-in-out;
    margin-top: -9px;
}

input[type=range]::-webkit-slider-thumb:active {
    height: 21px;
    width: 21px;
    border-radius: 21px;
    margin-top: -10.5px;
}

header {
    background-color: rgb(246, 248, 248);
    width: 100%;
    height: 50px;
    border-bottom: 1px solid;
    border-bottom-color: rgb(224, 229, 230);
}

footer {
    background-color: rgb(246, 248, 248);
    height: 50px;
    width: 100%;
    border-top: 1px solid;
    border-top-color: rgb(224, 229, 230);
}
